body {
  font-family: Roboto, sans-serif, raleway;
  background: #e5e5e5;
}
h3 {
   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}
li{
  list-style-type: none;}
p {
  color: #757575;
 

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
letter-spacing: 0.03em;

}
button {
    font-weight: 500;
    cursor: pointer;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    background-color: blue;
    color: white;
  }
.img {
  display: inline;
  left: 1015px;
  top: 1061px;



}
.box {
width: 370;
  display: inline-block;
}
.nav {
  display: flex;
  align-items: flex-start;
}
.menu {
  color: black;
  text-decoration: none;
}
footer {
  background-color: #2F303A;
}
button {
  font-weight: 500;
  cursor: pointer;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color:  blue;
  
  color: white;}
button:hover{ 
  background-color: whitesmoke;
}
  .h1 {
    background-color: #2F303A;
font-family: roboto;
text-align: center;
color: #FFFFFF;}
.mb> .h1 { 
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
.logo{
  color: black;
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-decoration: none;}
.menu {
  color: black;
  text-decoration: none;
}
.menu:hover {
  color: #2196F3;
}
.menu:hover
.menu:focus
{color: #2196F3;}
.adr {
color: #757575;
}
.adr:hover{

color: #2196F3;}
h2{
  text-align: center;
}
